@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
}


h1 {
    text-align: center;
    padding: 2rem 2rem;
}

/* debug */

.formStyle {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem 1rem;
    gap: 1rem;
}

.formDisplay {
    background-color: pink;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

}

.outputFormDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    gap: 1.5rem;
    /* debug */
    border: 1px solid black;
    background-color: pink;

}

.elementDisplay {
    border: 2px solid black;
    padding: 1rem 1rem;
    width: 15rem;
    min-height: 10rem;
}

.outputTitle {
    min-height: 2.5rem;
}

.outputBox {
    min-height: 6rem;
    /* debug */
    background-color: yellow;
}

/* flex */

.alignItemCenter {
    display: flex;
    align-items: center;
}