@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
}


h1 {
    text-align: center;
    padding: 2rem 2rem;
}

/* debug */

.display {
    background-color: pink;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

}