@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite GB S", cursive;
    background-color: #ff9800c2;
}


h1 {
    text-align: center;
    padding: 2rem 2rem;
}

/* debug */
form {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.formStyle {
    display: flex;
    flex-direction: column;
    border: 5px solid #FF9800;
    padding: 1rem 1rem;
    gap: 1rem;
    min-width: 15rem;
    border-radius: 10px;

}

.buttonStyle {
    min-width: 10rem;
    min-height: 2rem;
}

.formDisplay {
    background-color: pink;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 20px;

}

.outputFormDisplay {

    display: none;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    gap: 1.5rem;
    max-width: 90rem;
    margin: 0 auto;
    border-radius: 20px;
    background-color: pink;

}

.elementDisplay {
    border: 5px solid #FF9800;
    padding: 1rem 1rem;
    width: 15rem;
    min-height: 10rem;
    border-radius: 10px;
}

.outputTitle {
    min-height: 2.5rem;
}

.outputBox {
    min-height: 6rem;
}

/* flex */

.alignItemCenter {
    display: flex;
    align-items: center;
}

/* text style */

.titleStyle {
    font-weight: bolder;
    font-size: 20px;
}